<h1 style="text-align:center; color:#005bbd; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">
   What is Statistics?
</h1>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
       <p>Statistics ek branch of mathematics hai jo data ki collection, analysis, interpretation, presentation, aur organization se deal karti hai.<br>Iska basic maqsad data ko samajhna, patterns identify karna, aur us se meaningful conclusions draw karna hota hai.
</div>
</body>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
       <p>Statistics ke 4 main pillars hain jo data analysis aur decision-making me madad detay hain:
        <ul>
            <u>1 Data Collection:</u>
               <ul>
                   Accurate aur reliable statistics ke liye data ka sahi collection zaroori hota hai.<br>Methods: Surveys, experiments, observations, interviews, etc.<br>Example: Kisi sheher me logon ki income ka survey karna.<br><br>
            </ul>
            <u>2 Data Organization & Presentation</u>
            <ul>
                Raw data ko understandable format me convert karna.<br>
                Techniques: Tables, graphs (histograms, pie charts, bar graphs), aur frequency distributions.<br>
Example: School ke students ke marks ko ek table ya graph ki form me dikhana.<br><br>
            </ul>
             <u>3 Data Analysis</u>
            <ul>
            Data ka study karna aur patterns ya trends find karna.<br>
            Types:<ul>
                <li>Descriptive Statistics (Mean, Median, Mode, Standard Deviation, etc)</li>
                <li>Inferential Statistics (Hypothesis Testing, Confidence Intervals, etc)</li>
                </ul>
            Example: Kisi restaurant ka monthly customer flow analyze karna aur future me uska trend predict karna.
            </ul><br>
            <u>4 Data Interpretation & Decision-Making</u>
            <ul>
                Jo analysis (result) hota hai us se Mazeed Result nikalna.<br>
                Use Cases:<ul>
                <li>Business me marketing strategy banane ke liye.</li>
                <li>Science me experiments ka conclusion draw karne ke liye.</li>
                <li>Finance me stock market ka risk assess karne ke liye.</li>
                </ul>
            Example: Cricket team ka performance data analyze karke next match ki strategy banani.</ul>
</div>
</body>

<h1 style="text-align:center; color:#005bbd; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">
   Level / Scales of Measurement
</h1>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        <p>Scales of Measurement ka matlab hota hai data kis tareeke se measure kiya jata hai</p> 
        <ul>Statistics me 4 types ke measurement scales hote hain:<br><br>
            <ol>
        <li>Nominal Scale → Sirf Categories, Koi Order Nahi
            <ul><li>Red, Blue, Green" → Koi order nahi, ye sirf colors hain</ul></li><br>
        <li>Ordinal Scale → Order Hai, Magar Differences Meaningful Nahi
            <ul><li>Poor aur Excellent ka difference number me nahi bata sakte.<br><li>Ranking to hai lekin unka numerical difference properly define nahi hai<br><li>Lekin ye sure hai ke Excellent rating, Poor se better hai</ul><br>
                </li>
        <li>Interval Scale → Order + Meaningful Difference Hai, Magar True Zero Nahi
            <ul><li>Order (Data ko chhota ya bada arrange kar sakte hain)<br>
                <li>Meaningful difference (Categories ke darmiyan numerical difference proper hota hai)<br><li>True Zero nahi hota (Zero ka matlab "nothing" nahi hota, balki wo bas ek reference point hota hai)
            </ul>
                </li><br>
    <li>Ratio Scale → Order + Meaningful Difference + True Zero Bhi Hai
        <ul>
            <li>Order hota hai → Chhota ya bada arrange kar sakte hain.<br>
                <li>Meaningful Difference hota hai → Difference ka proper mathematical meaning hota hai.<br>
            <li>True Zero hota hai → Zero ka matlab bilkul kuch bhi nahi (nothingness) hota hai.
        </ul></li>
            </ol>
        </ul>
        <img src="./images/scale.png" style="width: 60%; display: block; margin-left: auto; margin-right: auto;">

</div>
</body>

<h1 style="text-align:center; color:#005bbd; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">
   Data Types
</h1>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        <h4>Qualitative Data (Categorical Data)</h4>
        <ul>
            <li>Yeh numbers nahi balki categories hoti hain.</li>
            <li>Isko count kiya ja sakta hai, magar mathematical operations (addition, subtraction) nahi kar sakte.</li>
            <li>Sirf labels ya groups define karta hai.</li>
            <br>
            Subtypes of Qualitative Data:
            <ul><hr>
                <b>Nominal Scale (Sirf Categories, Koi Order Nahi)</b>
                <ul>
                    Yeh wo data hota hai jisme categories ka koi specific order nahi hota.<br>Mathematical Operations (comparison) nahi ho sakta
        Examples:<ul>
                    Colors: (Red, Blue, Green)<br>
                    Cities: (Lahore, Karachi, Islamabad)<br>
                    Fruits: (Apple, Banana, Mango)
                </ul>
            </ul><hr>
                <b>Ordinal Scale (Order Hai, Magar Differences Meaningful Nahi)</b>
                <ul>Isme ranking ya order hota hai, magar exact difference ka pata nahi chalta.<br>
                    Mathematical Operations (Comparison) possible hy (e.g., Excellent > Poor) but Arithmetic operations not possible
                    Example:<ul>
    Education Level: (Primary, Secondary, Bachelor’s, Master’s, PhD)<br>
    Ratings: (Poor, Average, Good, Excellent)<br>
    Military Ranks: (Lieutenant, Captain, Major, Colonel)<br>
                    </ul></ul><hr>
        </ul>
    </div>
</body>

In [13]:
import pandas as pd

data = {
    "Data": ["Color", "Name", "City", "Education", "Rating", "Rank"],
    "Type": ["Nominal", "Nominal", "Nominal", "Ordinal", "Ordinal", "Ordinal"],
    "Scale": ["No Order", "No Order", "No Order", "Ordered", "Ordered", "Ordered"],
    "Example": ["Red Blue Green", "Ali Sara John", "Lahore Karachi Paris", "Primary Master PhD", "Good Bad Excellent", "Captain Major Colonel"]
}

df = pd.DataFrame(data)

df

        Data     Type     Scale                Example
0      Color  Nominal  No Order         Red Blue Green
1       Name  Nominal  No Order          Ali Sara John
2       City  Nominal  No Order   Lahore Karachi Paris
3  Education  Ordinal   Ordered     Primary Master PhD
4     Rating  Ordinal   Ordered     Good Bad Excellent
5       Rank  Ordinal   Ordered  Captain Major Colonel

In [2]:
# Ordinal Data
education_order = ["High School", "Bachelor's", "Master's", "PhD"]
rating_order = ["Poor", "Average", "Good", "Excellent"]
size_order = ["Small", "Medium", "Large"]

data_ordinal = {
    "Education Level": pd.Categorical(["Bachelor's", "PhD", "Master's", "High School"], categories=education_order, ordered=True),
    "Rating": pd.Categorical(["Good", "Poor", "Excellent", "Average"], categories=rating_order, ordered=True),
    "Size": pd.Categorical(["Medium", "Large", "Small", "Medium"], categories=size_order, ordered=True)
}

df_ordinal = pd.DataFrame(data_ordinal)
df_ordinal

  Education Level     Rating    Size
0      Bachelor's       Good  Medium
1             PhD       Poor   Large
2        Master's  Excellent   Small
3     High School    Average  Medium

<body style="font-family: Sans-serif; background-color: #f8f9fa;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        <h4 style="padding-bottom: 5px;">Numerical Data (Quantitative)</h4>
        <ul>
            <li>Numerical data wo hota hai jo numbers aur measurable values hota hai.</li>
            <br>
            Subtypes of Quantitative Data:
            <ul>
                <hr>
                <b>Discrete Data (Countable Integers)</b>
                <ul style="margin-left: 20px;">
                    <li>Whole numbers (integers) jo count kiye ja sakte hain, decimals nahi hotay.</li>
                    <li>Mathematical Operations Allowed (Addition, Subtraction, etc)</li>
                    <br>
                    <b>Examples:</b>
                    <ul style="margin-left: 20px;">
                        <li>Students in a class: (30, 40, 50)</li>
                        <li>Goals in a football match: (1, 2, 3, 4)</li>
                        <li>Cars in a parking lot: (10, 15, 20)</li>
                    </ul>
                    <br>
                    <li>Interval Scale (Order + Meaningful Difference, Magar True Zero Nahi)</li>
                    <li>Ratio Scale (Order + Meaningful Difference + True Zero)</li>
                </ul>
                <hr>
                <b>Continuous Data (Measurable Values)</b>
                <ul style="margin-left: 20px;">
                    <li>Infinite precision possible, decimals hotay hain, measurements hamesha approximate hoti hain.</li>
                    <li>Mathematical Operations Allowed (Addition, Subtraction, etc)</li>
                    <br>
                    <b>Examples:</b>
                    <ul style="margin-left: 20px;">
                        <li>Temperature: (36.6°C, 98.4°F)</li>
                        <li>Height: (5.7 feet, 170.5 cm)</li>
                        <li>Weight: (55.3 kg, 78.9 kg)</li>
                        <li>Time: (2.45 seconds, 10.75 hours)</li>
                    </ul>
                    <br>
                    <li>Interval Scale (Order + Meaningful Difference, Magar True Zero Nahi)</li>
                    <li>Ratio Scale (Order + Meaningful Difference + True Zero)</li>
                </ul>
                <hr>
            </ul>
        </ul>
    </div>
</body>

In [14]:
data = {
    "Data": ["Students", "Goals", "Cars", "Temp", "Height", "Weight"],
    "Type": ["Discrete", "Discrete", "Discrete", "Continuous", "Continuous", "Continuous"],
    "Scale": ["Ratio", "Ratio", "Ratio", "Interval", "Ratio", "Ratio"],
    "Example": ["30 40 50", "1 2 3", "10 15 20", "36.6 98.4", "5.7 170.5", "55.3 78.9"]
}

df = pd.DataFrame(data)
df

       Data        Type     Scale    Example
0  Students    Discrete     Ratio   30 40 50
1     Goals    Discrete     Ratio      1 2 3
2      Cars    Discrete     Ratio   10 15 20
3      Temp  Continuous  Interval  36.6 98.4
4    Height  Continuous     Ratio  5.7 170.5
5    Weight  Continuous     Ratio  55.3 78.9

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px; text-align:center; border:4px double black;">
        <h4>Difference</h4>
            
| **Category**  | **Sub-Type**  | **Examples**  | **Scale** |
|--------------|-------------|-----------------|-----------|
| **Qualitative (Categorical) Data** | **Nominal** | Gender (Male, Female), Rang (Laal, Neela), Qaumiyat (Pakistani, Indian) | Koi Order Nahi |
| **Qualitative (Categorical) Data** | **Ordinal** | Taleem Level (High School, Bachelor, Master), Customer Reviews (Poor, Good, Excellent) | Order Hai, Magar Differences Meaningful Nahi |
| **Quantitative (Numerical) Data** | **Discrete (Ginny Jane Wale Integers)** | Class me students (30, 40), Parking me gariyan (10, 20), Football goals (1, 2, 3) | **Ratio Scale** (True Zero Hai) |
| **Quantitative (Numerical) Data** | **Continuous (Napne Wali Cheezein)** | Qad (5.7 feet), Wazan (55.3 kg), Waqt (2.45 sec), Hararat (98.4°F) | **Interval ya Ratio Scale** (Zero ho bhi sakta hai aur nahi bhi) |
        
<img src="./images/scale.png" style="width: 60%; display: block; margin-left: auto; margin-right: auto;">