<h1 style="text-align:center; color:#005bbd; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">
   Categorical Data 
</h1>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
       <p>Categorical data wo data hota hai jo specific categories ko represent karta hai.<br>Categorical data ko usually labels ya tags ke form mein store kiya jata hai</p>
        <ul>Types of Categorical Data:
            <hr>
            <ul>Nominal Data: 
                <ul>Yeh wo data hota hai jisme categories ka koi specific order nahi hota. 
                    <br><br>Examples:<br><br>
                        <ul>
                            <li>Colors: 
                                <ul>
                                    Red, Blue, Green</ul>
                        <li>
                            Cities: 
                            <ul>Lahore, Karachi, Islamabad</ul>
                        <li>
                            Fruits:
                            <ul>Apple, Banana, Mango</ul></ul></ul></ul>
                <hr>
                <ul>Ordinal Data
                <ul>Isme categories ka ek natural order hota hai, lekin unke beech ka difference equal nahi hota
                    <br><br>Examples:<br><br>
                        <ul>
                            <li>Education Level: 
                                <ul>
                                   High School -> Bachelor's -> Master's -> PhD</ul>
                        <li>
                            Rating: 
                            <ul>Poor -> Average -> Good -> Excellent</ul>
                        <li>
                            Size:
                            <ul>Small -> Medium -> Large</ul>
                    </div>
</body>

In [12]:
import pandas as pd

# Nominal Data
data = {
    "Colors": pd.Categorical(["Red", "Blue", "Green", "Blue", "Red"]),
    "Cities": pd.Categorical(["Lahore", "Karachi", "Islamabad", "Lahore", "Karachi"]),
    "Fruits": pd.Categorical(["Apple", "Banana", "Mango", "Apple", "Mango"])
}


df_nominal = pd.DataFrame(data)
df_nominal

  Colors     Cities  Fruits
0    Red     Lahore   Apple
1   Blue    Karachi  Banana
2  Green  Islamabad   Mango
3   Blue     Lahore   Apple
4    Red    Karachi   Mango

In [13]:
education_order = ["High School", "Bachelor's", "Master's", "PhD"]
rating_order = ["Poor", "Average", "Good", "Excellent"]
size_order = ["Small", "Medium", "Large"]

# Creating Ordered Categorical Data
data_ordinal = {
    "Education Level": pd.Categorical(["Bachelor's", "PhD", "Master's", "High School"], categories=education_order, ordered=True),
    "Rating": pd.Categorical(["Good", "Poor", "Excellent", "Average"], categories=rating_order, ordered=True),
    "Size": pd.Categorical(["Medium", "Large", "Small", "Medium"], categories=size_order, ordered=True)
}

df_ordinal = pd.DataFrame(data_ordinal)
df_ordinal

  Education Level     Rating    Size
0      Bachelor's       Good  Medium
1             PhD       Poor   Large
2        Master's  Excellent   Small
3     High School    Average  Medium

<h1 style="text-align:center; color:#005bbd; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">
   Text Data 
</h1>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
       <p>Text data wo data hota hai jo human-readable text ke form mein hota hai.<br>
           Yeh usually long strings of text hote hain, jaise reviews, tweets, or any free-text content. <br>Text data ko natural language processing (NLP) tasks mein use kiya jata hai.
           <ul>Examples of Text Data:
               <ul><li>Reviews: "The movie was amazing, I really enjoyed it!"</ul>
               <ul><li>Tweets: "Loving the new phone I bought today!"</ul>
               <ul><li>Comments: "Great product, will recommend to others!"</ul>
        </ul></div>
</body>