<h1 style="text-align:center; color:#005bbd; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">
   Un Group Data
</h1>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
<p>Ungrouped data woh hota hai jisme har individual value alag alag hoti hai, bina kisi group ya class ke.</p>

```
Marks of 6 students = [56, 72, 64, 64, 90, 72]
```
</div>
</body>

In [4]:
import pandas as pd

In [10]:
pd.DataFrame({"Students": [56, 72, 64, 64, 90, 72]})

   Students
0        56
1        72
2        64
3        64
4        90
5        72

<h1 style="text-align:center; color:#005bbd; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">
   Un Group Data
</h1>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">

- #### Grouped data woh hota hai jahan raw data ko classes ya intervals mein group kiya jata hai.
- Har class ke sath frequency hoti hai (kitni dafa value ayi)

</div>
</body>

In [7]:
data = {
    "Marks": [
        "0 - 10",
        "10 - 20",
        "20 - 30",
        "30 - 40"
    ],
    "Frequency":[2,3,5,4]
}
pd.DataFrame(data)

     Marks  Frequency
0   0 - 10          2
1  10 - 20          3
2  20 - 30          5
3  30 - 40          4

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
<p>Yahan 0-10, 10-20 etc groups hain, aur har group mein kitni values hain (frequency).</p>
</div>
</body>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        
| # | Advantages                                                                                                                                                  |
| ------ | ---------------------------------------------------------------------------------------------------------------------------------------------------------- |
| 1    | **Data ko summarize karna asaan ho jata hai** – bohat saari values ko few classes mein divide kar k analysis simple hota hai.                              |
| 2    | **Large datasets ko handle karna easy hota hai** – jab data bohat zyada ho (1000s of records), grouping se readability aur visualization improve hoti hai. |
| 3️    | **Visual representation possible hota hai** – histograms, ogives, frequency polygons waghera sirf grouped data pe banaye jate hain.                        |
| 4    | **Trends easily dikhai dete hain** – jese kis range mein zyada values aa rahi hain, kis interval mein kam.                                                 |
| 5    | **Statistical analysis scalable hota hai** – grouped data se efficient algorithms bana sakte hain (e.g., decision trees, binning in ML).                   |
</div>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        


| # | Disadvantages                                                                                                              |
| ------ | --------------------------------------------------------------------------------------------------------------------- |
|1    | **Data loss hota hai (accuracy loose hoti hai)** – actual values chhup jati hain, sirf intervals bachte hain.         |
|2    | **Har class mein exact value ka pata nahi hota** – sirf midpoint assume karte hain, jo approximation hota hai.        |
|3    | **Wrong grouping misleading ho sakti hai** – agar class width sahi select na ho to patterns galat lag sakte hain.     |
|4    | **Manual grouping time-consuming ho sakta hai** – agar automatic binning use na ho to grouping mein effort lagta hai. |

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        
Example :
- Suppose aap ek ML model train kar rahe ho jo bataye ga:
- Kis age group ke log zyada shopping karte hain?

In [15]:
ungroup_data = [18, 22, 25, 30, 34, 36, 37, 40, 43, 50, 52, 55]

df = pd.DataFrame(ungroup_data,columns=["Customer Ages"])
df

    Customer Ages
0              18
1              22
2              25
3              30
4              34
5              36
6              37
7              40
8              43
9              50
10             52
11             55

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">

Grouped data ko feature engineering mein use karte hain like (binning):

In [18]:
bins = [17, 25, 35, 45, 60]
labels = ['18-25', '26-35', '36-45', '46-60']
df['AgeGroup'] = pd.cut(df['Customer Ages'], bins=bins, labels=labels)
df

    Customer Ages AgeGroup
0              18    18-25
1              22    18-25
2              25    18-25
3              30    26-35
4              34    26-35
5              36    36-45
6              37    36-45
7              40    36-45
8              43    36-45
9              50    46-60
10             52    46-60
11             55    46-60

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">

| **Use Case**                          | **Grouped Data**                                                                                                                                                        | **Ungrouped Data**                                                                                                                                               |
| ------------------------------------- | ----------------------------------------------------------------------------------------------------------------------------------------------------------------------- | ---------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| **1. Data Size**                      | **Large Datasets**<br>Jab data bohot zyada ho aur individual values ko track karna mushkil ho.                                                                          | **Small Datasets**<br>Jab data ka size chhota ho, har individual value ko track kiya ja sakta hai.                                                               |
| **2. Trend Analysis**                 | **Trend Identification**<br>Jab aapko data ka **general trend** ya pattern dekhna ho (e.g., sales, temperature).                                                        | **Exact Pattern**<br>Agar aapko kisi specific pattern ka **exact analysis** chahiye ho, jaise fraud detection ya anomaly detection.                              |
| **3. Data Visualization**             | **Visualization**<br>Jab aapko **histograms, bar charts, frequency polygons** banani ho.                                                                                | **Raw Data Visualizations**<br>Individual values ki **scatter plots** ya time series graphs banani ho.                                                           |
| **4. Noise Reduction**                | **Noise Reduction**<br>Grouped data se **random fluctuations** ya noise ko reduce kiya jata hai (e.g., averaging over bins).                                            | **High Variability**<br>Jab data mein **high variability** ho aur har value ka impact samajhna ho.                                                               |
| **5. Model Training**                 | **Feature Engineering**<br>Jab aapko **classification** ya **regression models** ke liye features binning (e.g., age groups, salary ranges) create karni ho.            | **Detailed Learning**<br>Jab aap **deep learning models** train kar rahe ho, jisme har data point ka individual importance ho (e.g., image classification, NLP). |
| **6. Time-Series or Sequential Data** | **Aggregated Time Data**<br>Jab aapko time intervals mein data ko **bin** karna ho (e.g., daily average temperature, weekly sales).                                     | **High-Resolution Time-Series**<br>Agar aapko **exact timestamps** track karne ho (e.g., stock market prices, IoT sensor readings).                              |
| **7. Anomaly or Fraud Detection**     | **Not Ideal**<br>Grouped data may miss anomalies due to grouping (approximation).                                                                                       | **Ideal for Anomalies**<br>Individual points (e.g., transaction amount, time of occurrence) are crucial to detect outliers in fraud detection.                   |
| **8. Regression Models**              | **Binning for Regression**<br>Grouped data ko use karke **predictive models** mein class intervals ka use kiya jata hai (e.g., logistic regression with age intervals). | **Precise Predictions**<br>Jab aapko **precise predictions** chahiye ho based on exact data points (e.g., house price prediction based on exact square footage). |
| **9. Machine Learning Algorithms**    | **Decision Trees / Random Forest**<br>**Binned Features** use hoti hain grouped data mein, jese "age group" ko ek feature ke tor pe treat kiya jata hai.                | **Deep Learning**<br>**Neural Networks** mein exact data points ka analysis hota hai, jese **image pixel data** ya **text embeddings**.                          |
| **10. Feature Extraction in AI**      | **Feature Binning**<br>Group data ko **features** ke tor pe use kiya jata hai (e.g., grouping income into categories).                                                  | **Fine-grained Features**<br>Jab **fine-grained** features chahiye ho, jese **individual sentence embedding** for NLP tasks.                                     |

In [ ]:
<h1 style="text-align:center; color:#005bbd; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">
   Un Group Data
</h1>