<h1 style="text-align:center; color:#005bbd; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">
   Un Group Data
</h1>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
<p>Ungrouped data woh hota hai jisme har individual value alag alag hoti hai, bina kisi group ya class ke.</p>

```
Marks of 6 students = [56, 72, 64, 64, 90, 72]
```
</div>
</body>

In [1]:
import pandas as pd

In [10]:
pd.DataFrame({"Students": [56, 72, 64, 64, 90, 72]})

   Students
0        56
1        72
2        64
3        64
4        90
5        72

<h1 style="text-align:center; color:#005bbd; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">
   Group Data
</h1>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">

- #### Grouped data woh hota hai jahan raw data ko classes ya intervals mein group kiya jata hai.
- Har class ke sath frequency hoti hai (kitni dafa value ayi)

</div>
</body>

In [7]:
data = {
    "Marks": [
        "0 - 10",
        "10 - 20",
        "20 - 30",
        "30 - 40"
    ],
    "Frequency":[2,3,5,4]
}
pd.DataFrame(data)

     Marks  Frequency
0   0 - 10          2
1  10 - 20          3
2  20 - 30          5
3  30 - 40          4

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
<p>Yahan 0-10, 10-20 etc groups hain, aur har group mein kitni values hain (frequency).</p>
</div>
</body>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        
| # | Advantages                                                                                                                                                  |
| ------ | ---------------------------------------------------------------------------------------------------------------------------------------------------------- |
| 1    | **Data ko summarize karna asaan ho jata hai** – bohat saari values ko few classes mein divide kar k analysis simple hota hai.                              |
| 2    | **Large datasets ko handle karna easy hota hai** – jab data bohat zyada ho (1000s of records), grouping se readability aur visualization improve hoti hai. |
| 3️    | **Visual representation possible hota hai** – histograms, ogives, frequency polygons waghera sirf grouped data pe banaye jate hain.                        |
| 4    | **Trends easily dikhai dete hain** – jese kis range mein zyada values aa rahi hain, kis interval mein kam.                                                 |
| 5    | **Statistical analysis scalable hota hai** – grouped data se efficient algorithms bana sakte hain (e.g., decision trees, binning in ML).                   |
</div>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        


| # | Disadvantages                                                                                                              |
| ------ | --------------------------------------------------------------------------------------------------------------------- |
|1    | **Data loss hota hai (accuracy loose hoti hai)** – actual values chhup jati hain, sirf intervals bachte hain.         |
|2    | **Har class mein exact value ka pata nahi hota** – sirf midpoint assume karte hain, jo approximation hota hai.        |
|3    | **Wrong grouping misleading ho sakti hai** – agar class width sahi select na ho to patterns galat lag sakte hain.     |
|4    | **Manual grouping time-consuming ho sakta hai** – agar automatic binning use na ho to grouping mein effort lagta hai. |

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        
Example :
- Suppose aap ek ML model train kar rahe ho jo bataye ga:
- Kis age group ke log zyada shopping karte hain?

In [15]:
ungroup_data = [18, 22, 25, 30, 34, 36, 37, 40, 43, 50, 52, 55]
df = pd.DataFrame(ungroup_data,columns=["Customer Ages"])
df

    Customer Ages
0              18
1              22
2              25
3              30
4              34
5              36
6              37
7              40
8              43
9              50
10             52
11             55

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">

Grouped data ko feature engineering mein use karte hain like (binning):

In [18]:
bins = [17, 25, 35, 45, 60]
labels = ['18-25', '26-35', '36-45', '46-60']
df['AgeGroup'] = pd.cut(df['Customer Ages'], bins=bins, labels=labels)
df

    Customer Ages AgeGroup
0              18    18-25
1              22    18-25
2              25    18-25
3              30    26-35
4              34    26-35
5              36    36-45
6              37    36-45
7              40    36-45
8              43    36-45
9              50    46-60
10             52    46-60
11             55    46-60

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">

| **Use Case**                          | **Grouped Data**                                                                                                                                                        | **Ungrouped Data**                                                                                                                                               |
| ------------------------------------- | ----------------------------------------------------------------------------------------------------------------------------------------------------------------------- | ---------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| **1. Data Size**                      | **Large Datasets**<br>Jab data bohot zyada ho aur individual values ko track karna mushkil ho.                                                                          | **Small Datasets**<br>Jab data ka size chhota ho, har individual value ko track kiya ja sakta hai.                                                               |
| **2. Trend Analysis**                 | **Trend Identification**<br>Jab aapko data ka **general trend** ya pattern dekhna ho (e.g., sales, temperature).                                                        | **Exact Pattern**<br>Agar aapko kisi specific pattern ka **exact analysis** chahiye ho, jaise fraud detection ya anomaly detection.                              |
| **3. Data Visualization**             | **Visualization**<br>Jab aapko **histograms, bar charts, frequency polygons** banani ho.                                                                                | **Raw Data Visualizations**<br>Individual values ki **scatter plots** ya time series graphs banani ho.                                                           |
| **4. Noise Reduction**                | **Noise Reduction**<br>Grouped data se **random fluctuations** ya noise ko reduce kiya jata hai (e.g., averaging over bins).                                            | **High Variability**<br>Jab data mein **high variability** ho aur har value ka impact samajhna ho.                                                               |
| **5. Model Training**                 | **Feature Engineering**<br>Jab aapko **classification** ya **regression models** ke liye features binning (e.g., age groups, salary ranges) create karni ho.            | **Detailed Learning**<br>Jab aap **deep learning models** train kar rahe ho, jisme har data point ka individual importance ho (e.g., image classification, NLP). |
| **6. Time-Series or Sequential Data** | **Aggregated Time Data**<br>Jab aapko time intervals mein data ko **bin** karna ho (e.g., daily average temperature, weekly sales).                                     | **High-Resolution Time-Series**<br>Agar aapko **exact timestamps** track karne ho (e.g., stock market prices, IoT sensor readings).                              |
| **7. Anomaly or Fraud Detection**     | **Not Ideal**<br>Grouped data may miss anomalies due to grouping (approximation).                                                                                       | **Ideal for Anomalies**<br>Individual points (e.g., transaction amount, time of occurrence) are crucial to detect outliers in fraud detection.                   |
| **8. Regression Models**              | **Binning for Regression**<br>Grouped data ko use karke **predictive models** mein class intervals ka use kiya jata hai (e.g., logistic regression with age intervals). | **Precise Predictions**<br>Jab aapko **precise predictions** chahiye ho based on exact data points (e.g., house price prediction based on exact square footage). |
| **9. Machine Learning Algorithms**    | **Decision Trees / Random Forest**<br>**Binned Features** use hoti hain grouped data mein, jese "age group" ko ek feature ke tor pe treat kiya jata hai.                | **Deep Learning**<br>**Neural Networks** mein exact data points ka analysis hota hai, jese **image pixel data** ya **text embeddings**.                          |
| **10. Feature Extraction in AI**      | **Feature Binning**<br>Group data ko **features** ke tor pe use kiya jata hai (e.g., grouping income into categories).                                                  | **Fine-grained Features**<br>Jab **fine-grained** features chahiye ho, jese **individual sentence embedding** for NLP tasks.                                     |

<h1 style="text-align:center; color:#005bbd; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">
  Measures of Central Tendency
</h1>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">

<p>Measures of central tendency se hum data ka center samajhte hain,<br>- matlab wo value jo data ka typical ya representative value hoti hai.<br>- Yeh measures batate hain ke data kahan clustered hai.</p>

- Core Measures of Central Tendency:
    - Mean (Arithmetic Average)
    - Median
    - Mode

</div>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">

- 1 Mean
    - Mean ko hum average bhi kehte hain.
    - Yeh wo value hoti hai jo data set ke central point ko represent karti hai.
    - Iska calculation simple hai—sabhi numbers ko add karo aur unka total number of items se divide karo.

<img src="./images/13.jpg" style="width: 60%; display: block; margin-left: auto; margin-right: auto;">

In [36]:
data = [4, 7, 2, 9, 12]
df = pd.DataFrame(data, columns=["Value"])
df

   Value
0      4
1      7
2      2
3      9
4     12

In [40]:
c_sum = 0
for i in data:
    c_sum += i

print(c_sum/len(data))

6.8

In [3]:
df.mean()

Value    6.8
dtype: float64

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">

Mean of Grouped Data :

- Grouped data ko samajhne ke liye pehle hum *`class intervals`* ka use karte hain.
- Har class ka ek midpoint hota hai, aur hum un midpoints ko frequency ke saath multiply karte hain.

---

``` 
Example Data (Grouped):
    Classes: 0-5, 5-10, 10-15
    Frequencies: 3, 4, 2
```
---
```
Step 1: Har class ke liye midpoints nikaalo:

    0-5 → Midpoint = 2.5

    5-10 → Midpoint = 7.5

    10-15 → Midpoint = 12.5
```
---
<br>

```
Step 2: Midpoint ko frequency se multiply karo:

                2.5 × 3 = 7.5
                7.5 × 4 = 30
                12.5 × 2 = 25
```
---
```
Step 3: Sab values ko add karo:
            7.5 + 30 + 25 = 62.5

```
---
```
Step 4: Frequency ka sum karo:
            3 + 4 + 2 = 9
```
---
```
Step 5: Total sum ko total frequency se divide karo:
        Mean = 62.5 / 9 = 6.94

        
Mean = 6.94
```

<img src="./images/14.jpg" style="width: 60%; display: block; margin-left: auto; margin-right: auto;">

In [52]:
data = {
    'f': [3, 4, 2],
    'Class': ['0-5', '5-10', '10-15']
}

df_grouped = pd.DataFrame(data)
df_grouped

   f  Class
0  3    0-5
1  4   5-10
2  2  10-15

In [54]:
df_grouped['M'] = df_grouped['Class'].str.split('-').apply(lambda i:(int(i[0]) + int(i[-1]))/2)
df_grouped

   f  Class     M
0  3    0-5   2.5
1  4   5-10   7.5
2  2  10-15  12.5

In [55]:
df_grouped['F*M'] = df_grouped['f'] * df_grouped['M']
df_grouped

   f  Class     M   F*M
0  3    0-5   2.5   7.5
1  4   5-10   7.5  30.0
2  2  10-15  12.5  25.0

In [56]:
df_grouped['f'].sum()

np.int64(9)

In [57]:
df_grouped['F*M'].sum()

np.float64(62.5)

In [59]:
m = df_grouped['F*M'].sum() / df_grouped['f'].sum()
print(m)

6.944444444444445

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">

- 2 Median
    - Median wo value hoti hai jo data ko half mein divide karti hai.
    - Agar data sorted hai toh:
        - Odd number of data points: Median = Middle element          
        - Even number of data points: Median = Average of two middle elements

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        
- Odd Number Example
<img src="./images/15.jpg" style="width: 60%; display: block; margin-left: auto; margin-right: auto;">

In [26]:
data = [4, 7, 2, 9, 12]
df = pd.DataFrame(data, columns=["Value"])
df

   Value
0      4
1      7
2      2
3      9
4     12

In [27]:
data = sorted(data)
data

[2, 4, 7, 9, 12]

In [28]:
int(len(data) / 2)

2

In [29]:
data[int(len(data) / 2)]

7

In [35]:
# with direct pandas
df.median()

Value    7.0
dtype: float64

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        
- Even Number Example
<img src="./images/16.jpg" style="width: 60%; display: block; margin-left: auto; margin-right: auto;">

In [6]:
data = [4,7,2,12,6,10]
df = pd.DataFrame(data,columns=["Value"])
df

   Value
0      4
1      7
2      2
3     12
4      6
5     10

In [10]:
data = sorted(data)
data

[2, 4, 6, 7, 10, 12]

In [11]:
len(data)

6

In [23]:
if len(data) % 2 == 0:
    #index
    upper = int(len(data)/2) -1
    lower = int(len(data)/2)
    print('Index',upper,lower)
    print('Value',data[upper],data[lower])
    print("Median",(data[upper] + data[lower]) / 2)

Index 2 3
Value 6 7
Median 6.5

In [25]:
# with direct pandas
df.median()

Value    6.5
dtype: float64

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">

- Median for Group Data (if Data Points Sum (N) are Even)

<img src="./images/17.jpg" style="width: 60%; display: block; margin-left: auto; margin-right: auto;">

In [136]:
class_ = ["0-5","5-10","10-15"]
f = [3,4,3]
df = pd.DataFrame({"class":class_,"f":f})
df

   class  f
0    0-5  3
1   5-10  4
2  10-15  3

In [137]:
cm = [f[0]]
for i in f[1:]:
    cm.append(cm[-1]+i)
cm

[3, 7, 10]

In [138]:
df['cm'] = cm
df

   class  f  cm
0    0-5  3   3
1   5-10  4   7
2  10-15  3  10

In [139]:
# direct in pandas
df["f"].cumsum()

0     3
1     7
2    10
Name: f, dtype: int64

In [140]:
# find n

c_sum = 0
for i in f:
    c_sum += i
N = c_sum
print(N)

10

In [141]:
df

   class  f  cm
0    0-5  3   3
1   5-10  4   7
2  10-15  3  10

In [142]:
cm

[3, 7, 10]

In [143]:
# find F 
F = cm[int(len(cm) / 2) - 1]
F

3

In [144]:
# find f
f = f[int(len(f) / 2)]
f

4

In [145]:
# class width
class_[int(len(class_) / 2)]

'5-10'

In [146]:
class_[int(len(class_) / 2)].split('-')

['5', '10']

In [147]:
# change to int
[int(i) for i in class_[int(len(class_) / 2)].split('-')]

[5, 10]

In [148]:
lower = min([int(i) for i in class_[int(len(class_) / 2)].split('-')])
upper = max([int(i) for i in class_[int(len(class_) / 2)].split('-')])
print(upper,lower)

10 5

In [149]:
# find h
h = upper - lower
h

5

In [151]:
# find L
L = lower
L

5

In [152]:
# formulae
Median = L + ((N/2 - F) / f) * h
Median

7.5

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">

- Median for Group Data (if Data Points Sum (N) are Odd)

<img src="./images/18.jpg" style="width: 60%; display: block; margin-left: auto; margin-right: auto;">

In [3]:
class_ = ["0-10","10-20","20-30","30-40"]
f = [2,3,3,1]
df = pd.DataFrame({"class":class_,"f":f})
df

   class  f
0   0-10  2
1  10-20  3
2  20-30  3
3  30-40  1

In [9]:
cm = [f[0]]
for i in f[1:]:
    cm.append(cm[-1]+i)
cm

[2, 5, 8, 9]

In [10]:
df['cm'] = cm
df

   class  f  cm
0   0-10  2   2
1  10-20  3   5
2  20-30  3   8
3  30-40  1   9

In [11]:
# with pandas
df['f'].cumsum()

0    2
1    5
2    8
3    9
Name: f, dtype: int64

In [15]:
# find median class
N = 0
for i in f:
    N += i
N

9

In [67]:
if N %2 == 1:
    print(N/2)

    # find middle class
    for index,i in enumerate(cm):
        if i >= N/2:
            print(i,index)
            break

4.5
5 1

In [68]:
index

1

In [70]:
# find f
f = f[index]
f

3

In [72]:
# find F
F = cm[index-1]
F

2

In [75]:
# find upper and lower class
class_[index]

'10-20'

In [78]:
# convert into int
mid_class = [int(i) for i in class_[index].split("-")]
mid_class

[10, 20]

In [79]:
lower = min(mid_class)
upper = max(mid_class)

In [80]:
# find h
h = upper - lower
h

10

In [81]:
L = lower
L

10

In [82]:
# find median
L + (N/2 - F)/f * h

18.333333333333336

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">

- 3 Mode
    - Mode wo value hoti hai jo sabse zyada baar repeat hoti hai data mein.

<body style="font-family: Sans-serif;"><div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">

- Example 1: (Ungroup)

In [85]:
data = [4, 7, 7, 2, 9]
data

[4, 7, 7, 2, 9]

<body style="font-family: Sans-serif;"><div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">

    ➡️ Total values = 5 → Odd

In [92]:
tmp = []
for i in data:
    if i not in tmp:
        tmp.append(i)
        print(i,"->",data.count(i))

4 -> 1
7 -> 2
2 -> 1
9 -> 1

<body style="font-family: Sans-serif;"><div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">

    ➡️ Mode = 7

<body style="font-family: Sans-serif;"><div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">

- Example 2: (Ungroup)

In [94]:
data = [3, 5, 2, 3, 8, 2]
tmp = []
for i in data:
    if i not in tmp:
        tmp.append(i)
        print(i,"->",data.count(i))

3 -> 2
5 -> 1
2 -> 2
8 -> 1

<body style="font-family: Sans-serif;"><div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">

    ➡️ Mode = 3 and 2 
    Type (Bimodal)

<body style="font-family: Sans-serif;"><div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">

- Example 3: (Ungroup)

In [96]:
data = [1, 2, 3, 4, 5]
tmp = []
for i in data:
    if i not in tmp:
        tmp.append(i)
        print(i,"->",data.count(i))

1 -> 1
2 -> 1
3 -> 1
4 -> 1
5 -> 1

<body style="font-family: Sans-serif;"><div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">

    ➡️ No Mode

In [98]:
data = [1, 1, 2, 2, 3, 3]
tmp = []
for i in data:
    if i not in tmp:
        tmp.append(i)
        print(i,"->",data.count(i))

1 -> 2
2 -> 2
3 -> 2

<body style="font-family: Sans-serif;"><div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">

    ➡️ Mode = 1,2,3
    Type (Multimodal)

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">

- Mode For Group Data
<img src="./images/19.jpg" style="width: 60%; display: block; margin-left: auto; margin-right: auto;">

In [100]:
class_ = ["0-10","10-20","20-30","30-40","40-50"]
f = [4,7,12,5,2]
df = pd.DataFrame({"class":class_,"f":f})
df

   class   f
0   0-10   4
1  10-20   7
2  20-30  12
3  30-40   5
4  40-50   2

In [110]:
# find high frequency class
tmp = 0
INDEX = 0
for index,i in enumerate(f):
    if i > tmp:
        tmp = i
        INDEX = index
        print(i)

4
7
12

In [111]:
print(INDEX,tmp)

2 12

In [112]:
f[INDEX]

12

In [113]:
class_[INDEX]

'20-30'

In [118]:
mid_class = [int(i) for i in class_[INDEX].split('-')]
lower = min(mid_class)
upper = max(mid_class)

In [122]:
L = lower
f1 = f[INDEX]
f0 = f[INDEX-1]
f2 = f[INDEX+1]
h = upper - lower

In [123]:
Mode = L + ( (f1 - f0) / (2 * f1 - f0 - f2) ) * h
Mode

24.166666666666668

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">

<table border="1" cellspacing="0" cellpadding="8">
  <thead>
    <tr>
      <th><b>Measure</b></th>
      <th><b>Ungrouped Equation</b></th>
      <th><b>Grouped Equation</b></th>
      <th><b>Odd/Even Note</b></th>
      <th><b>Sort Required?</b></th>
      <th><b>Cumulative Frequency?</b></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><b>Mean</b></td>
      <td>Mean = (Σx) / n</td>
      <td>Mean = (Σf·x) / Σf</td>
      <td>No effect</td>
      <td>❌ Nahi</td>
      <td>❌ Nahi</td>
    </tr>
    <tr>
      <td><b>Median</b></td>
      <td>
        Odd: x<sub>(n+1)/2</sub><br>
        Even: (x<sub>n/2</sub> + x<sub>(n/2)+1</sub>) / 2
      </td>
      <td>Median = L + ((N/2 - F) / f) × h</td>
      <td>N/2 se class locate karni hoti hai</td>
      <td>✅ Haan</td>
      <td>✅ Haan (Grouped only)</td>
    </tr>
    <tr>
      <td><b>Mode</b></td>
      <td>Most repeated value</td>
      <td>Mode = L + ((f₁ - f₀) / (2f₁ - f₀ - f₂)) × h</td>
      <td>No effect</td>
      <td>❌ Nahi</td>
      <td>❌ Nahi</td>
    </tr>
  </tbody>
</table>