<h1 style="text-align:center; color:#005bbd; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">
   What is Descriptive Statistics?
</h1>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
       <p>Descriptive Statistics ek aisi technique hai jo data ko summarize, organize aur analyze karne ke liye use hoti hai.<br>Iska basic maqsad data ko asaan aur samajhne layak form me represent karna hota hai, taake hum uska overall trend dekh saken.
</div>
</body>

<h1 style="text-align:center; color:#005bbd; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">
   Ungrouped Data vs Grouped Data
</h1>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        Jab bhi hum data analysis karte hain, to data ko 2 tareeqon se represent kar sakte hain:
        <ul>Ungrouped Data (Raw Data):
                <ul>→ Bilkul scattered/random values, jo kisi bhi category ya interval mein nahi hoti.
            </ul><br>
            Grouped Data (Organized Data): 
                <ul>→ Jab ungrouped data ko range-based intervals mein convert kar dete hain, taake analysis easy ho sake.
            </ul>
</div>
</body>

<h1 style="text-align:center; color:#005bbd; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">
   Ungroup Data
</h1>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
       <p>Ungrouped data wo data hota hai jo ki individual values ke form mein hota hai, aur isay group karne ka koi step nahi liya jata. Yani, har ek observation apni jaga pe hoti hai.
</div>
</body>

In [1]:
import numpy as np
import pandas as pd

In [571]:
marks = [45, 55, 50, 50, 60, 70, 75, 45, 65]
ungroup_df = pd.DataFrame(marks,columns=["Marks"])
ungroup_df

   Marks
0     45
1     55
2     50
3     50
4     60
5     70
6     75
7     45
8     65

<h1 style="text-align:center; color:#005bbd; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">
   Group Data
</h1>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
      <p>Grouped data wo data hota hai jisme observations ko specific intervals ya classes mein divide kiya jata hai. Har interval ko class interval kaha jata hai, aur har class ke andar multiple values ho sakti hain.<br>Grouped data zyada tar frequency distribution mein hota hai.<ul>    
</div>
</body>

In [3]:
marks_intervals = [(0, 10), (10, 20), (20, 30), (30, 40), (40, 50)]  # (low, high) intervals
frequencies = [3, 7, 5, 8, 4]

data = {
    "marks_intervals":marks_intervals,
    "frequencies":frequencies
}
df = pd.DataFrame(data)
df

  marks_intervals  frequencies
0         (0, 10)            3
1        (10, 20)            7
2        (20, 30)            5
3        (30, 40)            8
4        (40, 50)            4

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        <b>Interval</b> ka matlab hai range (interval) jisme data divide hota hai.<br>
    Ye 2 numbers ka ek range hota hai (Start-End), jo data ko categories mein split karta hai.<br>
        E.g: (0 - 10) ka matlab yaha 10 intervals (Students) hn
</div>
</body>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        <b>Frequencies</b> ka matlab hai har class interval mein kitne elements (data points) aa rahe hain.<br>
        <ul>(0, 10) ek class interval hai, aur frequency 3 ka matlab hai ke 3 students ke marks is range mein hain. 

</div>
</body>

In [4]:
df

  marks_intervals  frequencies
0         (0, 10)            3
1        (10, 20)            7
2        (20, 30)            5
3        (30, 40)            8
4        (40, 50)            4

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        Agar data bohot zyada ho toh usko samajhna, analyze karna aur conclusions draw karna mushkil ho jata hai. <br>Isi wajah se ungrouped data ko grouped data mein convert kiya jata hai. Yeh grouping statistics aur data analysis ke liye bohot zaroori hoti hai.
</div>
</body>

In [5]:
ungroup_df

   Marks
0     45
1     55
2     50
3     50
4     60
5     70
6     75
7     45
8     65

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        <li>Convert Ungroup Data into Group<br><br>
            Step 1: Range Calculate Karo
\[\text{Range} = \text{Max Value} - \text{Min Value}\]\[= 75 - 45 = 30
\]
</div>
</body>

In [6]:
raw = ungroup_df["Marks"].to_list()
R = max(raw) - min(raw)
R

30

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
            Step 2: No of Classes Calculate Karo<br> 
Sturges Formula: 
        \[\text{Number of Classes} = 1 + 3.322 \log N\]<br><br>Yaha Data Mein 9 data points  hain:  
\[\text{Marks} = [45, 55, 50, 50, 60, 70, 75, 45, 65]\]<br><br>
\[\text{Number of Classes} = 1 + 3.322 \log (9)\]
\[= 1 + 3.322 \times 0.954\]
\[= 1 + 3.17 = 4.17 \approx 4 \text{ (Round Off)}\]<br>
4 classes best hain!
</div>
</body>

In [7]:
class_ = round(1+3.322 * np.log10(9))
class_

4

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        Step 3: Ab hume class width nikalni hai jo har interval ki range define karegi.<br><br>
Formula:
\[
\text{Class Width} = \frac{\text{Min Value} - \text{Max Value}}{\text{Number of Classes}}
\]
Max Value = 75<br>
Min Value = 45  <br>
Number of Classes = 4 <br>
\[\text{Class Width} = \frac{75 - 45}{4} = \frac{30}{4} = 7.5 \approx 8\]
Class width = 8 lenge
</div>
</body>

In [8]:
class_width = round(R/4)
class_width

8

In [570]:
ungroup_df

   Marks Intervals
0     45   45 - 53
1     55   53 - 61
2     50   45 - 53
3     50   45 - 53
4     60   53 - 61
5     70   69 - 77
6     75   69 - 77
7     45   45 - 53
8     65   61 - 69

In [10]:
print("Range",R)
print("Class",class_)
print("Class Width",class_width)

Range 30
Class 4
Class Width 8

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
       Step 4: Class Intervals Banane Hain<br>  
Ab hume starting point (Min Value = 45)  se class width = 8 ka use karke 4 class intervals banane hain.<br><br>

| **Class Interval** |
|------------------|
| 45 - 53         | 
| 53 - 61         |
| 61 - 69         | 
| 69 - 77         | 
</div>
</body>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
       Step 5 : Count Frequency
        \[ f_i = \sum_{x \in I} 1 \]
Explanation:
\( f_i \) = Frequency of class interval \( I \)  <br>
\( x \in I \) = Number of values that fall within interval \( I \)  <br>
\( \sum \) = Summation (Matlab count karna)  <br>
<br>
Example<br>
Agar data diya gaya hai: <br> 
\[\text{Marks} = [45, 55, 50, 50, 60, 70, 75, 45, 65]\]<br>
Aur class intervals hain:

| Class Interval | Formula Applied |
|---------------|----------------|
| **45 - 53**   | \( f_1 = 1+1+1+1 = 4 \) |
| **53 - 61**   | \( f_2 = 1+1 = 2 \) |
| **61 - 69**   | \( f_3 = 1 = 1 \) |
| **69 - 77**   | \( f_4 = 1+1 = 2 \) |
</div>
</body>

In [11]:
raw = ungroup_df["Marks"].to_list()

In [12]:
bins = list(range(min(raw), max(raw) + class_width, class_width))
bins

[45, 53, 61, 69, 77]

In [13]:
labels = [f"{bins[i]} - {bins[i+1]}" for i in range(len(bins)-1)]
labels

['45 - 53', '53 - 61', '61 - 69', '69 - 77']

In [14]:
ungroup_df["Marks"].value_counts()

Marks
45    2
50    2
55    1
60    1
70    1
75    1
65    1
Name: count, dtype: int64

In [15]:
group_data = {
    "Class Interval":labels}
group_df = pd.DataFrame(group_data)
group_df

  Class Interval
0        45 - 53
1        53 - 61
2        61 - 69
3        69 - 77

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
    Create a function
</div>
</body>

In [577]:
import numpy as np
import pandas as pd

def ungroup_to_group(df, col):
    lst = df[col].tolist()
    
    # Automatic bin selection using Freedman-Diaconis Rule
    bins = np.histogram_bin_edges(lst, bins="fd")  # "fd" auto-calculates best bin size
    labels = [f"{round(bins[i], 2)} - {round(bins[i+1], 2)}" for i in range(len(bins)-1)]

    tmp = df.copy()
    tmp["Intervals"] = pd.cut(tmp[col], bins=bins, labels=labels, include_lowest=True)

    return tmp["Intervals"].value_counts().sort_index().to_frame(name="frequencies").reset_index()

In [578]:
ungroup_df

   Marks
0     45
1     55
2     50
3     50
4     60
5     70
6     75
7     45
8     65

In [579]:
ungroup_to_group(ungroup_df,"Marks")

     Intervals  frequencies
0  45.0 - 55.0            5
1  55.0 - 65.0            2
2  65.0 - 75.0            2

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
     Agar class intervals discontinuous hain, to meain,median ya koi bhi statistical measure sahi tareeke se calculate nahi hoga. <br>Isko solve karne ke liye humein continuous interval banana hoga.<br><br>
      \[
(10, 19), (20, 29), (40, 45)
\]
        
<br>
        
| Interval | Lower Bound | Upper Bound |
|----------|------------|------------|
| 1st | **10** | **19** |
| 2nd | **20** | **29** |
| 3rd | **40** | **45** |

#### Step 1: Identify Gaps 
- **Gap between (19 → 20)** = \( 20 - 19 = 1 \)  
- **Gap between (29 → 40)** = \( 40 - 29 = 11 \)  

<h4>Adjust First Gap (19 → 20)**  </h4>
\[
\text{Adjustment} = \frac{1}{2} = 0.5
\]
\[
\text{New Upper Bound}_1 = 19 + 0.5 = 19.5
\]
\[
\text{New Lower Bound}_2 = 20 - 0.5 = 19.5
\]

<h4>Updated Intervals</h4>
\[
(10, 19.5), (19.5, 29), (40, 45)
\]
<h4>Adjust Second Gap (29 → 40)</h4>
\[
\text{Adjustment} = \frac{11}{2} = 5.5
\]
\[
\text{New Upper Bound}_2 = 29 + 5.5 = 34.5
\]
\[
\text{New Lower Bound}_3 = 40 - 5.5 = 34.5
\]
<h4>Final Adjusted Continuous Intervals:</h4>
\[
(10, 19.5), (19.5, 34.5), (34.5, 45)
\]


</div>
</body>

In [580]:

df = pd.DataFrame({
    "intervals": [
        (1, 150),   # Normal interval
        (300, 2),   # Reverse order (Issue)
        (5, 8),     # Normal interval
        (4, 90),    # Overlapping
        (200, 500), # Large gap
    ]
})
df

    intervals
0    (1, 150)
1    (300, 2)
2      (5, 8)
3     (4, 90)
4  (200, 500)

In [581]:
points = []
for i in df[col]:
    points.extend(i)
points.sort()

new = [points[0]]

for i in range(1,round(len(points)/2)+1):
    p1 = points[i]
    p2 = points[i+1]

    p = (max(p1,p2)-min(p1,p2))/2

    new.append(min(p1,p2)+p)
    new.append(max(p1,p2)-p)

new.append(points[-1])
new = list(set(new))
new_int = pd.DataFrame({"intervals":new})
new_int

   intervals
0        1.0
1        3.0
2        4.5
3        6.5
4       49.0
5      500.0
6      120.0

In [582]:
ungroup_to_group(new_int,"intervals")

         Intervals  frequencies
0      1.0 - 84.17            5
1   84.17 - 167.33            1
2   167.33 - 250.5            0
3   250.5 - 333.67            0
4  333.67 - 416.83            0
5   416.83 - 500.0            1

In [526]:
def arrange(df,col):
    points = []
    for i in df[col]:
        points.extend(i)
    points.sort()

    new = [points[0]]

    for i in range(1,round(len(points)/2)+1):
        p1 = points[i]
        p2 = points[i+1]

        p = (max(p1,p2)-min(p1,p2))/2

        new.append(min(p1,p2)+p)
        new.append(max(p1,p2)-p)

    new.append(points[-1])

    final = []
    for i in range(len(new)):
        if i%2 == 0:
            final.append((new[i],new[i+1]))

    return pd.DataFrame({col:final})

In [562]:
df

    intervals
0    (1, 150)
1    (300, 2)
2      (5, 8)
3     (4, 90)
4  (200, 500)

In [528]:
arrange(df,"intervals")

       intervals
0       (1, 3.0)
1     (3.0, 4.5)
2     (4.5, 6.5)
3    (6.5, 49.0)
4  (49.0, 120.0)
5   (120.0, 500)

In [525]:
# def arrange(df, col):
#     points = []
    
#     # Original Intervals Collect Karo (Without Sorting)
#     original_intervals = list(df[col])

#     # Har interval ke points store karo
#     for i in original_intervals:
#         points.append(i[0])
#         points.append(i[1])

#     # Sorting ki jagah, pehle valid intervals identify karo
#     new_intervals = []
    
#     for i in range(len(original_intervals)):
#         p1, p2 = original_intervals[i]
        
#         # Agar next interval available hai toh midpoint lo
#         if i < len(original_intervals) - 1:
#             next_p1, next_p2 = original_intervals[i + 1]
            
#             # Agar gap zyada hai, toh midpoint logic apply mat karo
#             if abs(next_p1 - p2) > 20:  # Threshold for discontinuity
#                 new_intervals.append((p1, p2))
#                 continue

#             mid = (p1 + p2) / 2
#             new_intervals.append((p1, mid))
#             new_intervals.append((mid, p2))
#         else:
#             new_intervals.append((p1, p2))

#     return pd.DataFrame({col: new_intervals})

# # Example Data
# df = pd.DataFrame({
#     "intervals": [(1, 150), (300, 2), (5, 8), (4, 90), (200, 500)]
# })

# # Function Call
# arrange(df, "intervals")

In [366]:
# first = points.pop(0)
# last = points.pop()

In [368]:
points

[10, 19, 20, 29, 40, 45]

In [511]:
# def arange(df,col):
#     dt = []
    
#     x = [i[0] for i in df[col]]
#     y = [i[1] for i in df[col]]
    
#     dt.append(x.pop(0))
    

#     for i in zip(x,y):
#         p = (max(i)-min(i))/2

#         dt.append(min(i)+p)
#         dt.append(max(i)-p)

#     dt.append(y.pop())
    
    
#     print(dt)
#     x1 = []
#     y1 = []
    
#     for i in range(0,len(dt)):
#         if i%2 == 1:
#             x1.append(dt[i])
#         else:
#             y1.append(dt[i])
    
#     return pd.DataFrame({col:list(zip(y1,x1))})

# arange(pd.DataFrame({"intervals":[(1,2),(300,4),(8,90)]}),"intervals")

In [269]:
pd.DataFrame({"intervals":[(1,2),(300,4),(8,90)]})

  intervals
0    (1, 2)
1  (300, 4)
2   (8, 90)

      intervals
0    (1, 151.0)
1  (151.0, 6.0)
2     (6.0, 90)

In [229]:
group_d

   Marks
0     45
1     55
2     50
3     50
4     60
5     70
6     75
7     45
8     65

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        <ul><li>Mid Point for Group Data</li>
            Midpoint (jisay class mark bhi kehtay hain) kisi bhi class interval ka beech ka point hota hai.<br>Yeh average hota hai lower limit aur upper limit ka.<br>  <br>
Midpoint Ka Formula
\[\text{Midpoint} = \frac{\text{Lower Limit} + \text{Upper Limit}}{2}\]<br>
            Example Calculation<br>Agar class interval 10 - 20 hai, toh midpoint: <br><br>
\[\frac{10 + 20}{2} = \frac{30}{2} = 15\]<br>
Agar class interval 21 - 30 hai, toh midpoint:<br><br>
\[\frac{21 + 30}{2} = \frac{51}{2} = 25.5\]
              </ul>
</div>
</body>

In [24]:
group_data = ungroup_to_group(ungroup_df,"Marks")
group_data

  Intervals  frequencies
0   45 - 53            4
1   53 - 61            2
2   61 - 69            1
3   69 - 77            2

In [25]:
mid_points = [( int(i.split()[0]) + int(i.split()[-1]) ) / 2 for i in group_data['Intervals'].tolist()]
group_data["mid_point"] = mid_points
group_data

  Intervals  frequencies  mid_point
0   45 - 53            4       49.0
1   53 - 61            2       57.0
2   61 - 69            1       65.0
3   69 - 77            2       73.0

<h1 style="text-align:center; color:#005bbd; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">
   Measures of Central Tendency
</h1>

34<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
       <ul><ul><li>1. Mean (Avarage)
           <ul>Mean ka matlab hai sab numbers ka sum karke, total count se divide karna.<br>
                Yeh normal situations me best hota hai, lekin agar koi bohot bara ya chhota number ho (outlier), to mean inaccurate ho sakta hai<br><br>
           </ul>
        </ul>
</div>
</body>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
       <ul><ul><ul>Mean Ungroup Data<nt>
                   Formula:<br>
               \[Mean = \frac{\text{Sab values ka sum}}{\text{Total numbers ka count}}\]
               <br>🔹 Example: <ul>
               Agar students ke marks hain:  [50, 60, 70, 80, 90]<br><br>
               \[
               \begin{align} 
               Mean &= \frac{(50+60+70+80+90)}{5} \\\\ Mean &= \frac{350}{5} \\\\ Mean &= 70
\end{align}
\]
           </ul>
        </ul>
</div>
</body>

In [28]:
count = 0
data = ungroup_df["Marks"].tolist()
for i in data:
    count += i
    
mean = count / len(data)
mean

57.22222222222222

In [27]:
ungroup_df

   Marks
0     45
1     55
2     50
3     50
4     60
5     70
6     75
7     45
8     65

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
       <ul><ul><ul>Grouped Data ka Mean kaise Nikalein?<br>
                   Grouped data ka mean ungrouped data se alag tarike se nikalta hai, kyunki hume frequencies bhi consider karni hoti hain. <br>
                   Formula:<br>
           \[ \text{Mean} = \frac{\sum f_i x_i}{\sum f_i} \] <br><br>
           - \( f_i \) = Frequency (Har class interval me kitne numbers hain)<br>  
           - \( x_i \) = Midpoint (Class interval ka center)<br>
           - \( \sum f_i x_i \) = Sab midpoint values ka frequency ke saath multiplication ka sum <br>
           - \( \sum f_i \) = Total frequency (jitne numbers hain)<br>
           <br><br>
Example<br>
           
| Intervals  | Frequency (\( f_i \)) | Midpoint (\( x_i \)) | \( f_i x_i \) |
|------------|-----------------|------------|-----------|
| 45 - 53  | 4 | **49** | \( 4 \times 49 = 196 \) |
| 53 - 61  | 2 | **57** | \( 2 \times 57 = 114 \) |
| 61 - 69  | 1 | **65** | \( 1 \times 65 = 65 \) |
| 69 - 77  | 2 | **73** | \( 2 \times 73 = 146 \) |

<hr>Step 1: Values ka Sum Calculate karo<br><br>
    <p>
        \[
        \sum f_i = 4 + 2 + 1 + 2 = 9
        \]
    </p>
    <p>
        \[
        \sum f_i x_i = 196 + 114 + 65 + 146 = 521
        \]
    </p>
  <hr>Step 2: Mean Calculate karo<br><br>
    <p>
        \[
        \text{Mean} = \frac{521}{9} = 57.88
        \]
    </p>
           </ul>
        </ul>
</div>
</body>

In [29]:
group_data["fx"] = group_data["frequencies"] * group_data["mid_point"]
group_data

  Intervals  frequencies  mid_point     fx
0   45 - 53            4       49.0  196.0
1   53 - 61            2       57.0  114.0
2   61 - 69            1       65.0   65.0
3   69 - 77            2       73.0  146.0

In [30]:
# mean of group data
sum(group_data["fx"].tolist()) / sum(group_data["frequencies"].tolist())

57.888888888888886


<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        <ul><ul><li>2. Median (Middle Value)
            <ul>
                Median ek aisi value hai jo data ko do equal parts me divide karti hai.<br>
                Iska faida yeh hai ke yeh outliers se effect nahi hoti.<br><br>
                🔹 Steps:
                <ul>
                    <li>Numbers ko ascending order me arrange karo.</li>
                    <li>Agar total count odd hai → Middle value pick karo.</li>
                    <li>Agar total count even hai → Dono middle values ka average lo.</li>
                </ul>
                🔹 Example: 
                <ul>
                    Marks: [50, 60, 70, 80, 90] (Odd count = 5)<br>
                    <b>Median = 70</b> (Kyunki yeh middle me hai)
                </ul>
                <ul><br>
                    Marks: [50, 60, 70, 80] (Even count = 4)<br><br>
                    \[
                    \begin{align} 
                    Median &= \frac{(60+70)}{2} \\\\ 
                    Median &= \frac{130}{2} \\\\ 
                    Median &= 65
                    \end{align}
                    \]
                </ul><hr><br> Formulae :<br>For Sorted Data
                If \( n \) is Odd:<br>
\[\text{Median} = X_{\frac{n+1}{2}}\]
If \( n \) is Even: 
\[\text{Median} = \frac{X_{\frac{n}{2}} + X_{\frac{n}{2} + 1}}{2}\]
            </ul><hr><br>
        </ul></ul>
    </div>
</body>

In [31]:
def median(x):
    x = sorted(x)
    
    if len(x)%2 == 1:
        return x[int((len(x)+1)/2) - 1]

    else:    
        index_1 = int(len(x)/2) -1
        index_2 = int((len(x)/2) + 1) -1
        return (x[index_1] + x[index_2]) / 2

In [32]:
median([1,2,3,4,5]) # odd length

3

In [33]:
median([1,2,3,4,5,6]) # even length

3.5

In [34]:
ungroup_df

   Marks
0     45
1     55
2     50
3     50
4     60
5     70
6     75
7     45
8     65

In [35]:
median(ungroup_df["Marks"])

55

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        <h4>Median For Group Data</h4>
\[
\text{Median} = L + \left( \frac{\frac{N}{2} - CF}{f} \right) \times h
\]

**Jahan:**  
- \( L \) = **Median class ki lower boundary**  
- \( N \) = **Total frequency ka sum** sum(f)  
- \( CF \) = **Cumulative frequency just before the median class**  
- \( f \) = **Median class ki frequency**  
- \( h \) = **Class width (interval difference)**  
        
<img src="../images/grp_m.png" style="width: 100%; display: block; margin-left: auto; margin-right: auto;">

  intervals
0  (10, 19)
1  (20, 29)
2  (30, 39)

In [38]:
19-10

9

In [41]:
39-30

9

In [ ]:
grp = ungroup_to_group(ungroup_df,"Marks")
grp

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        <ul><li>Cumulative Frequency in Group Data</li>
            Cumulative Frequency ek running sum hota hai jo har class interval tak ka total frequency show karta hai.<br>Yeh grouped data mein distribution ka pattern samajhnay aur percentiles, quartiles aur median nikalne ke liye use hota hai<br>
<br><br>Formula (Cumulative Frequency Calculation)<br><br>
\[CF_i = CF_{i-1} + f_i\]<br>
<ul><ul><ul><ul>Yaha:<br>
\(CF_i\) = Current Cumulative Frequency  <br>
\(CF_{i-1}\) = Previous Cumulative Frequency <br> 
\(f_i\) = Current Class Ki Frequency  <br>
    <br></ul></ul></ul></ul></ul>
First class ka cumulative frequency hamesha us class ki original frequency ke barabar hota hai.<br><br> 
        
| Class Interval | Frequency (f) | Cumulative Frequency (CF) |
|---------------|-------------|------------------|
| 10 - 20      | 4           | 4                |
| 21 - 30      | 6           | 4 + 6 = 10       |
| 31 - 40      | 8           | 10 + 8 = 18      |
| 41 - 50      | 5           | 18 + 5 = 23      |
<br><br>
</div>
</body>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
    Find CF
</div>
</body>

In [ ]:
cumulative_frequency = []
total_frequency = 0
freq = group_data["frequencies"].tolist()
for i in freq:
    total_frequency += i
    cumulative_frequency.append(total_frequency)
cumulative_frequency

In [ ]:
total_frequency

In [ ]:
grp["cf"] = cumulative_frequency
grp

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
    Calcualte Median
        
</div>
</body>

In [ ]:
total_f = grp["frequencies"].sum()
total_f

In [ ]:
current_class = grp[grp["cf"] > (total_f/2)].head(1)
f = current_class["frequencies"].to_list()[0]
f

In [ ]:
x,_,y = current_class["Intervals"].to_list()[0].split()
L = min(int(x),int(y))
L

In [ ]:
CF = grp[~(grp["cf"] > (total_f/2))].head(1)["cf"].to_list()[0]
CF

In [ ]:
x = set([max(k,v) - min(k,v) for k,v in [(int(i.split()[0]),int(i.split()[-1])) for i in grp["Intervals"].to_list()]])
if len(x) == 1:
    h = list(x)[0]
h

In [ ]:
L + (total_f/2 - CF) / f * h

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        <ul><li>Class Boundary in Group Data</li>
           Class boundaries real limits hoti hain jo class intervals ke beech ke gaps ko remove karne ke liye use hoti hain.<br>Yeh continuous data ko represent karne mein madad deti hain.<br>  <br>Jab bhi grouped data diya jata hai, toh class intervals hoti hain jaise:<br>
    10 - 20, 21 - 30, 31 - 40<br><br>
Agar hum inhe graph par plot karein toh 20 se 21 ke beech ek gap aata hai.<br>Yeh gap continuous distribution ko tod deta hai.<br><br>
Is gap ko hatane ke liye Lower Bound ko 0.5 kam aur Upper Bound ko 0.5 zyada kar dete hain.<br><br>  Formula:
            \[\text{Lower Class Boundary} = \text{Lower Limit} - 0.5\]
            \[\text{Upper Class Boundary} = \text{Upper Limit} + 0.5\]<br><br>
    Example Calculation:<br><br>
Agar class interval 10 - 20 diya ho:<br>
            Lower Class Boundary = 10 - 0.5 = 9.5<br>
            Upper Class Boundary = 20 + 0.5 = 20.5  
      </ul></ul></ul></ul></ul></ul></ul></ul>
</div>
</body>

In [ ]:
df

In [ ]:
class_boundary = [((i[0] - 0.5),i[1]+0.5) for  i in df['marks_intervals'].tolist()]

df["cb"] = class_boundary

In [ ]:
df

In [ ]:
df

In [ ]:
cumulative_frequency = []
first = 0
freq = df["frequencies"].tolist()
for i in freq:
    first += i
    cumulative_frequency.append(first)
cumulative_frequency

In [ ]:
df["cf"] = cumulative_frequency

In [ ]:
df

---

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = {
    "Student": ["Ali", "Ayesha", "Bilal", "Fatima", "Hassan", "Imran", "Maria", "Omer", "Sara", "Usman"],
    "Marks": [85, 88, 90, 92, 87, 89, 84, 91, 10, 86]  # Note: "10" is an outlier
}

df = pd.DataFrame(data)
df

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
       Yahan Sara ky marks sirf 10 hai, jo ek outlier hair<br>
        <ul>Outliers wo values hoti hain jo bohot zyada different hoti hain baqi data se.
            <br>Jaise ek class ke sab students 85-90 le rahe hain, magar ek student 10 le raha hai.
            <br>Iska effect Mean pe hota hai aur analysis inaccurate ho sakta hai!
</div>
</body>

In [ ]:
count = 0
data = df["Marks"].tolist()
for i in data:
    count += i
    
mean = count / len(data)
print(mean)

In [ ]:
# pandas mean function
df["Marks"].mean()

In [ ]:
plt.figure(figsize=(6,4))
sns.boxplot(x=df["Marks"], color="orange")

plt.title("Outliers Detection using Boxplot")
plt.xlabel("Marks")
plt.show()

In [ ]:
mean_with_outlier = df["Marks"].mean() 

df_cleaned = df[df["Marks"] > 20]
mean_without_outlier = df_cleaned["Marks"].mean()

print(f"Mean (With Outlier): {mean_with_outlier}")
print(f"Mean (Without Outlier): {mean_without_outlier}")

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
       Yaha Outliers (20) Marks ko Remove karna ho ga
</div>
</body>

In [ ]:
df[df["Marks"] > 20]

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
       Remove Outliers With IQR
</div>
</body>

In [ ]:
Q1 = df["Marks"].quantile(0.25)
Q3 = df["Marks"].quantile(0.75)

IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

df_filtered = df[(df["Marks"] >= lower_bound) & (df["Marks"] <= upper_bound)]
df_filtered

In [ ]:
mean_with_outlier = df["Marks"].mean()

# Outlier remove karna (IQR Method)
Q1 = df["Marks"].quantile(0.25)
Q3 = df["Marks"].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

df_filtered = df[(df["Marks"] >= lower_bound) & (df["Marks"] <= upper_bound)]
mean_without_outlier = df_filtered["Marks"].mean()

# Bar Chart Plot
plt.figure(figsize=(5, 4))
plt.bar(["With Outliers", "Without Outliers"], [mean_with_outlier, mean_without_outlier], color=["red", "green"])

plt.title("Effect of Outliers on Mean")
plt.ylabel("Mean Marks")
plt.ylim(0, 100)
plt.show()

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        <h4 style="color: black;">📊 Effect of Outliers on Mean (Bar Chart)</h4>
        <p>Is graph me Mean (Avarage) per Outliers ka effect dikhaya gaya hai. Yeh simple <b>Bar Chart</b> hai jo do situations ko compare karta hai:</p>
        <ul>
            <li>🔴 <b>Red Bar (With Outliers)</b> → Jisme Sara ka <b>10</b> marks bhi shamil hai.</li>
            <li>🟩 <b>Green Bar (Without Outliers)</b> → Jisme Outliers remove kar diye gaye hain.</li>
        </ul>
        <h4 style="color: black;">📌 Explanation</h4>
        <ul>
            <li><b>Red Bar → Mean kam ho gaya hai</b> kyunki ek bohot chhota number (10) ne average ko distort kar diya.</li>
            <li><b>Green Bar → Mean realistic ho gaya hai</b> kyunki Outlier remove kar diya gaya.</li>
        </ul>
        <h4 style="color: black;">📌 Observations</h4>
        <ul>
            <li>Agar dataset me koi <b>chhota ya bara outlier</b> ho, to Mean kaafi change ho jata hai.</li>
            <li>Outliers ko remove karne ke baad Mean <b>accurate analysis</b> ke liye better ho jata hai.</li>
        </ul>
        <h4 style="color: black;">🔥 Conclusion</h4>
        <p>Jab data me Outliers hote hain to <b>Mean unreliable ho sakta hai</b>. Is wajah se kabhi kabhi Median ya Trimmed Mean use karna better hota hai.</p>
    </div><hr>
</body>


<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        <ul><ul><li>2. Median (Middle Value)
            <ul>
                Median ek aisi value hai jo data ko do equal parts me divide karti hai.<br>
                Iska faida yeh hai ke yeh outliers se effect nahi hoti.<br><br>
                🔹 Steps:
                <ul>
                    <li>Numbers ko ascending order me arrange karo.</li>
                    <li>Agar total count odd hai → Middle value pick karo.</li>
                    <li>Agar total count even hai → Dono middle values ka average lo.</li>
                </ul>
                🔹 Example: 
                <ul>
                    Marks: [50, 60, 70, 80, 90] (Odd count = 5)<br>
                    <b>Median = 70</b> (Kyunki yeh middle me hai)
                </ul>
                <ul><br>
                    Marks: [50, 60, 70, 80] (Even count = 4)<br><br>
                    \[
                    \begin{align} 
                    Median &= \frac{(60+70)}{2} \\\\ 
                    Median &= \frac{130}{2} \\\\ 
                    Median &= 65
                    \end{align}
                    \]
                </ul><hr><br> Formulae :<br>For Sorted Data
                If \( n \) is Odd:<br>
\[\text{Median} = X_{\frac{n+1}{2}}\]
If \( n \) is Even: 
\[\text{Median} = \frac{X_{\frac{n}{2}} + X_{\frac{n}{2} + 1}}{2}\]
            </ul><hr><br>
        </ul></ul>
        <ul><ul><li>Mean vs Median (Difference)
            <ul>
                🔹 Agar data <b>normal</b> hai (without outliers), to Mean aur Median almost same hote hain.<br>
                🔹 Agar data me <b>outliers</b> hain, to Mean shift ho jata hai, lekin Median same rehta hai.<br><br>
                📌 <b>Example:</b><br>
                <ul>
                    Marks: [50, 60, 70, 80, 500] (500 ek outlier hai)<br><br>
                    <b>Mean:</b> 
                    \[
                    \begin{align} 
                    Mean &= \frac{(50+60+70+80+500)}{5} \\\\ 
                    Mean &= \frac{760}{5} \\\\ 
                    Mean &= 152
                    \end{align}
                    \]
                    <b>Median:</b> 70 (Middle value same rehti hai)
                </ul><br>
                📌 <b>Conclusion:</b> 
                <ul>
                    <li>Agar outliers hain to <b>Median zyada accurate</b> hota hai.</li>
                    <li>Mean outliers ki wajah se <b>distort ho sakta hai</b>.</li>
                    <li>Data analysis me kabhi kabhi Median use karna better hota hai, khas tor pe jab data skewed ho.</li>
                </ul>
            </ul>
        </ul></ul>
    </div><hr>
</body>

In [ ]:
np.median(x) # numpy median function

In [ ]:
np.random.seed(42)
data = np.random.randint(40, 100, 50).tolist()
data.extend([10, 5, 150, 200])  # Outliers
df = pd.DataFrame({"Marks": data})
df

In [ ]:
mean_with_outlier = df["Marks"].mean()
median_value = df["Marks"].median()

print("Mean",mean_with_outlier)
print("Median",median_value)

In [ ]:
mean_value = df["Marks"].mean()
median_value = df["Marks"].median()

plt.figure(figsize=(6, 4))
sns.boxplot(y=df["Marks"], color="lightblue", width=0.3)

# Mean aur Median ko plot karo
plt.axhline(mean_value, color='red', linestyle='dashed', linewidth=2, label="Mean")
plt.axhline(median_value, color='green', linestyle='dashed', linewidth=2, label="Median")

# Labels aur Title
plt.legend()
plt.title("Box Plot: Mean vs Median with Outliers")
plt.ylabel("Marks")
plt.show()

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        <ul>
            <li><b>Box Plot: Mean vs Median with Outliers</b>
                <ul>
                    <li>Yeh box plot data ka distribution aur outliers ko dikhata hai.</li>
                    <li>Is plot mein <b>Mean</b> aur <b>Median</b> ko compare kiya gaya hai aur outliers ko bhi highlight kiya gaya hai.</li>
                    <li>Red Dashed Line: <b>Mean</b> ko represent karti hai aur Green Dashed Line: <b>Median</b> ko represent karti hai.</li>
                    <li>Is plot mein extreme outliers (10, 5, 150, 200) dikh rahe hain jo box ke bahar hain.</li><br>
                </ul>
            </li>
            <ul><b>🟥 Red Dashed Line (Mean)</b>
                <ul>
                    <li>Red dashed line dikhati hai ke <b>Mean</b> outliers ki wajah se shift ho gaya hai.</li>
                    <li>Extreme values (5, 10, 150, 200) Mean ko upward shift kar rahi hain.</li>
                </ul>
            </ul><br>
            <ul><b>🟩 Green Dashed Line (Median)</b>
                <ul>
                    <li>Green dashed line <b>Median</b> ko represent karti hai jo data ke center ke kareeb hota hai.</li>
                    <li>Median outliers se zyada affect nahi hota aur stable rehta hai.</li>
                </ul>
            </ul><br>
            <ul><b>📌 Observations:</b>
                <ul>
                    <li><b>Mean (Red Line)</b> outliers ki wajah se shift ho gaya hai.</li>
                    <li><b>Median (Green Line)</b> stable hai aur outliers ka asar nahi hua.</li>
                    <li>Outliers (10, 5, 150, 200) clearly box plot ke bahar dikhaye gaye hain.</li>
                    <li>Agar outliers ko hata diya jaye, to Mean aur Median ek dusre ke kareeb aajayenge.</li>
                </ul>
            </ul>
        </ul>
    </div><hr>
</body>

In [ ]:
import matplotlib.patches as mpatches

In [ ]:
mean_with_outlier = df["Marks"].mean()
median_with_outlier = df["Marks"].median()

Q1 = df["Marks"].quantile(0.25)
Q3 = df["Marks"].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

df_mean_filtered = df[(df["Marks"] >= lower_bound) & (df["Marks"] <= upper_bound)]

mean_without_outlier = df_mean_filtered["Marks"].mean()
median_without_outlier_mean_filtered = df_mean_filtered["Marks"].median()

median = df["Marks"].median()
MAD = np.median(np.abs(df["Marks"] - median))  # Median Absolute Deviation
threshold = 3  # Common MAD threshold for outliers

lower_bound_mad = median - (threshold * MAD)
upper_bound_mad = median + (threshold * MAD)

df_median_filtered = df[(df["Marks"] >= lower_bound_mad) & (df["Marks"] <= upper_bound_mad)]
mean_without_outlier_median_filtered = df_median_filtered["Marks"].mean()
median_without_outlier = df_median_filtered["Marks"].median()

### 📊 Bar Chart for Comparison
plt.figure(figsize=(10, 6))
bar_width = 0.3

# Bar Plot
plt.bar([0, 1, 2], [mean_with_outlier, mean_without_outlier, mean_without_outlier_median_filtered], 
        width=bar_width, color=["red", "green", "purple"], label="Mean")

plt.bar([0 + bar_width, 1 + bar_width, 2 + bar_width], 
        [median_with_outlier, median_without_outlier_mean_filtered, median_without_outlier], 
        width=bar_width, color=["blue", "orange", "brown"], label="Median")

# Bars ke upar values likhne ke liye
for i, v in enumerate([mean_with_outlier, mean_without_outlier, mean_without_outlier_median_filtered]):
    plt.text(i, v + 1, f"{v:.2f}", ha="center", fontsize=10, color="black", fontweight="bold")

for i, v in enumerate([median_with_outlier, median_without_outlier_mean_filtered, median_without_outlier]):
    plt.text(i + bar_width, v + 1, f"{v:.2f}", ha="center", fontsize=10, color="black", fontweight="bold")

# Labels aur Title
plt.title("Comparison: Mean vs Median (Outlier Removal Techniques)")
plt.ylabel("Marks")
plt.xticks([0.25, 1.25, 2.25], ["With Outliers", "IQR Filtered", "MAD Filtered"])
plt.ylim(min(df_median_filtered["Marks"]) - 5, max(df["Marks"]) + 10)  

# Custom Legend
red_patch = mpatches.Patch(color='red', label='Mean (With Outliers)')
green_patch = mpatches.Patch(color='green', label='Mean (IQR Filtered)')
purple_patch = mpatches.Patch(color='purple', label='Mean (MAD Filtered)')
blue_patch = mpatches.Patch(color='blue', label='Median (With Outliers)')
orange_patch = mpatches.Patch(color='orange', label='Median (IQR Filtered)')
brown_patch = mpatches.Patch(color='brown', label='Median (MAD Filtered)')
plt.legend(handles=[red_patch, green_patch, purple_patch, blue_patch, orange_patch, brown_patch])

# Show Chart
plt.show()

<html lang="en">
<body style="font-family: sans-serif; background-color: #f5f5f5; padding: 20px;">
    <div style="max-width: 800px; margin: auto; background: white; padding: 20px; border-radius: 10px; 
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h2 style="color: #333; text-align: center;">📊 Mean vs Median: Outliers Ka Effect</h2>
        <ul style="font-size: 18px; line-height: 1.6;">
            <li><b>1️⃣ Outliers Kya Hain?</b>
                <ul>
                    <li>Outliers wo extreme values hain jo data se bohot alag hoti hain.</li>
                    <li>Ye Mean ko distort kar sakti hain aur data ka asli trend bigaad sakti hain.</li>
                </ul>
            </li><br>
            <li><b>2️⃣ IQR Method: Outliers Hatane Ka Tareeqa</b>
                <ul>
                    <li>IQR ka full form hai <b>Interquartile Range</b>.</li>
                    <li>Ye method lower aur upper bounds calculate karta hai aur jo values us range se bahar hoti hain, unko hata deta hai.</li>
                    <li>⏳ <b>Pros:</b> Simple aur effective, small datasets ke liye best.</li>
                    <li>⚠️ <b>Cons:</b> Agar data highly skewed ho, to ye bhi biased ho sakta hai.</li>
                </ul>
            </li><br>
            <li><b>3️⃣ MAD Method: Outliers Ko Handle Karne Ka Dusra Tareeqa</b>
                <ul>
                    <li>MAD ka full form hai <b>Median Absolute Deviation</b>.</li>
                    <li>Ye method Median ka use karta hai, jo outliers se kam effect hota hai.</li>
                    <li>⏳ <b>Pros:</b> Large datasets aur skewed data ke liye zyada reliable hai.</li>
                    <li>⚠️ <b>Cons:</b> Computation zyada hoti hai, chhoti datasets me zaroori nahi best ho.</li>
                </ul>
            </li><br>
            <li><b>📌 Conclusion:</b>
                <ul>
                    <li>Agar dataset normal hai, to <b>IQR method</b> sahi hai.</li>
                    <li>Agar dataset skewed hai ya outliers bohot zyada hain, to <b>MAD method</b> better perform karega.</li>
                    <li>📊 Charts aur graphs se outliers ko pehle visualize karna zaroori hai.</li>
                </ul>
            </li>
        </ul>
    </div><hr>
</body>
</html>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
       Median ko kyu use kiya jaye jab hamare paas mean hai?
<ul>Agar data normal distribution follow kar raha ho, to mean aur median ka result same hota hai.
</div>
</body>

In [ ]:
x = [1,2,3,4]
sns.histplot(x, kde=True, bins=len(x), color='red')  # Histogram + KDE
plt.show()

In [ ]:
np.mean(x)

In [ ]:
np.median(x)

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
    Lekin agar data normal distribution follow nahi kar raha, yani skewed hai, to agar mean lein to galat result aa sakta hai.

</div>
</body>

In [ ]:
x = [6,1,2,3]
sns.histplot(x, kde=True, bins=len(x), color='red')  # Histogram + KDE
plt.show()

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
    Is situation mein median lena best hota hai, kyunki median extreme values (outliers) se affect nahi hota.<br>
</div>
</body>

In [ ]:
np.mean(x)

In [ ]:
np.median(x)

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        <ul><ul><li>3. Mode (Most Frequent Value)
            <ul>
                Mode wo value hai jo <b>sabse zyada baar repeat hoti hai</b>.<br>
                Yeh data ka <b>most common</b> element hota hai.<br><br>
                🔹 Steps:
                <ul>
                    <li>Data ko check karo ke kaunsi value <b>sabse zyada</b> baar aayi hai.</li>
                    <li>Agar multiple values barabar repeat ho rahi hain, to multiple modes ho sakte hain.</li>
                    <li>Agar koi value repeat nahi ho rahi, to "No Mode" hota hai.</li>
                </ul>
                🔹 Example: 
                <ul>
                    Marks: [10, 20, 20, 30, 40, 40, 40, 50]<br>
                    <b>Mode = 40</b> (Kyunki yeh sabse zyada baar aaya hai)
                </ul>
                <ul><br>
                    Marks: [5, 10, 10, 15, 15, 20, 25]<br>
                    <b>Modes = 10, 15</b> (Dono barabar repeat hue hain, so it's bimodal)
                </ul>
                <ul><br>
                    Marks: [5, 8, 11, 14, 17]<br>
                    <b>No Mode</b> (Koi bhi value repeat nahi ho rahi)
                </ul>
            </ul>
        </ul></ul>
    </div>
</body>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">Single Mode Example
    </div>
</body>

In [ ]:
data = pd.Series([10, 20, 20, 30, 40, 40, 40, 50])
data

In [ ]:
mode_value = data.mode()
print("Mode:", mode_value.tolist())

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">Multiple Modes (Bimodal Data)
    </div>
</body>

In [ ]:
data = pd.Series([5, 10, 10, 15, 15, 20, 25])
data

In [ ]:
mode_value = data.mode()
print("Modes:", mode_value.tolist())  # Output: [10, 15]

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;"> No Mode
    </div>
</body>

In [ ]:
data = pd.Series([5, 8, 11, 14, 17])
data

In [ ]:
mode_value = data.mode()
print("Mode:", mode_value.tolist())

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;"> Mode in a DataFrame
    </div>
</body>

In [ ]:
df = pd.DataFrame({
    'Student': ['Ali', 'Sara', 'Ali', 'Fatima', 'Usman', 'Ayesha'],
    'Marks': [85, 90, 85, 92, 90, 85]  # 85 sabse zyada repeat ho raha hai
})

df

In [ ]:
mode_value = df[['Marks','Student']].mode()
print("Most Frequent Marks:", mode_value)

<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; text-align: center; padding: 20px;">
    <h1 style="color: #333; font-size: 30px; text-align:center;">📊 Mean vs Median vs Mode</h1>
    <table style="width: 80%; margin: 20px auto; border-collapse: collapse; background: white; box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); font-size: 20px;">
        <tr>
            <th style="padding: 20px; border: 2px solid #ddd; background: black; color: white;">Feature</th>
            <th style="padding: 20px; border: 2px solid #ddd; background: black; color: white;">Mean (Average)</th>
            <th style="padding: 20px; border: 2px solid #ddd; background: black; color: white;">Median (Middle Value)</th>
            <th style="padding: 20px; border: 2px solid #ddd; background: black; color: white;">Mode (Most Frequent)</th>
        </tr>
        <tr style="background: #f9f9f9;">
            <td style="padding: 20px; border: 2px solid #ddd;"><b>Definition</b></td>
            <td style="padding: 20px; border: 2px solid #ddd;">Sab numbers ka sum aur total numbers ka division.</td>
            <td style="padding: 20px; border: 2px solid #ddd;">Sorted list ka exact middle number.</td>
            <td style="padding: 20px; border: 2px solid #ddd;">Sabse zyada baar repeat hone wala number.</td>
        </tr>
        <tr>
            <td style="padding: 20px; border: 2px solid #ddd;"><b>Formula</b></td>
            <td style="padding: 20px; border: 2px solid #ddd;">
                \[
                \text{Mean} = \frac{\sum X}{N}
                \]
                <br> (Sum of all values ÷ Total count)
            </td>
            <td style="padding: 20px; border: 2px solid #ddd;">
                🔹 Odd Count: Median = Middle Value <br><br>
                🔹 Even Count:<br><br>
                \[
                \frac{X_{n/2} + X_{(n/2)+1}}{2}
                \]
            </td>
            <td style="padding: 20px; border: 2px solid #ddd;">
                Mode = Most frequently occurring value(s)
            </td>
        </tr>
        <tr style="background: #f9f9f9;">
            <td style="padding: 20px; border: 2px solid #ddd;"><b>Example</b></td>
            <td style="padding: 20px; border: 2px solid #ddd;">
                Data: [10, 20, 30, 40, 50] <br><br>
                \[
                \text{Mean} = \frac{10+20+30+40+50}{5} = 30
                \]
            </td>
            <td style="padding: 20px; border: 2px solid #ddd;">
                Data: [10, 20, 30, 40, 50] <br>
                Middle Value = 30 <br><br>
                Data: [10, 20, 30, 40] <br>
                \[
                \text{Median} = \frac{20 + 30}{2} = 25
                \]
            </td>
            <td style="padding: 20px; border: 2px solid #ddd;">
                Data: [10, 20, 20, 30, 40] <br>
                Mode = 20 (kyunki ye sabse zyada repeat hua)
            </td>
        </tr>
        <tr>
            <td style="padding: 20px; border: 2px solid #ddd;"><b>Use Cases</b></td>
            <td style="padding: 20px; border: 2px solid #ddd;">Financial data, Machine Learning, Temperature analysis.</td>
            <td style="padding: 20px; border: 2px solid #ddd;">Real Estate pricing, Income distribution analysis.</td>
            <td style="padding: 20px; border: 2px solid #ddd;">Market Research, NLP (Text Analysis), Most common diagnosis.</td>
        </tr>
        <tr style="background: #f9f9f9;">
            <td style="padding: 20px; border: 2px solid #ddd;"><b>When to Use?</b></td>
            <td style="padding: 20px; border: 2px solid #ddd;">Jab outliers ka effect na ho ya continuous data ho.</td>
            <td style="padding: 20px; border: 2px solid #ddd;">Jab data skewed ho aur extreme values ka effect na ho.</td>
            <td style="padding: 20px; border: 2px solid #ddd;">Jab most common value ko identify karna ho.</td>
        </tr>
        <tr>
            <td style="padding: 20px; border: 2px solid #ddd;"><b>Effect of Outliers</b></td>
            <td style="padding: 20px; border: 2px solid #ddd;">Outliers Mean ko effect karte hain (ek extreme value mean change kar sakti hai).</td>
            <td style="padding: 20px; border: 2px solid #ddd;">Median outliers se affect nahi hota.</td>
            <td style="padding: 20px; border: 2px solid #ddd;">Mode sirf data ke most frequent values ko count karta hai.</td>
        </tr>
    </table>
</body><hr>
</html>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        Manualy Create a Function
    </div>
</body>

In [ ]:
def P_numpy_like(data, p):
    sorted_data = sorted(data)
    n = len(sorted_data)  # N+1 ki jagah sirf N lenge
    index = (p / 100) * (n - 1)  # Change N+1 to N-1 (like NumPy)

    lower_index = int(index)
    upper_index = lower_index + 1

    if upper_index >= n:  # If index is out of range, return last value
        return sorted_data[lower_index]

    lower_value = sorted_data[lower_index]
    upper_value = sorted_data[upper_index]

    return lower_value + (index - lower_index) * (upper_value - lower_value)

data = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

print(P_numpy_like(data, 25))  # 32.5 (Same as NumPy)
print(P_numpy_like(data, 50))  # 55.0
print(P_numpy_like(data, 75))  # 77.5

In [ ]:
def P(data,p):
    
    sorted_data = sorted(data)

    n = len(sorted_data)
    index = (p/100) * n

    if index.is_integer():
        return sorted_data[int(index) - 1]

    else:
        lower_index = int(index)
        upper_index = lower_index + 1

        lower_value = sorted_data[lower_index]
        upper_value = sorted_data[upper_index]

        return lower_value + (index - (lower_index+1)) * (upper_value - lower_value)

In [ ]:
print(P(data,25))
print(P(data,50))
print(P(data,75))

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        numpy Function
    </div>
</body>

In [ ]:
p25 = np.percentile(data, 25)
p50 = np.percentile(data, 50)
p75 = np.percentile(data, 75)

print("25th Percentile (Q1)    :", p25)
print("50th Percentile (Median):", p50)
print("75th Percentile (Q3)    :", p75)

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 15px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
        <h3>3 IQR (Interquartile Range) Calculation</h3>
        <p><b>IQR ko calculate karne ka formula:</b></p>
        <pre style="background-color: #f4f4f4; padding: 10px; border-radius: 5px;">
            IQR = Q₃ - Q₁
        </pre>
        <h4>Q₃ aur Q₁ ki Definitions:</h4>
        <p><b>Q₁ (First Quartile):</b> Ye data ke first 25% ko represent karta hai. Matlab, ye wo value hai jo data ko 25% tak divide karti hai. Ye median of the lower half data hoti hai.</p>
        <p><b>Q₃ (Third Quartile):</b> Ye data ke 75% ko represent karta hai. Matlab, ye wo value hai jo data ko 75% tak divide karti hai. Ye median of the upper half data hoti hai.</p>
<img src="./images/iqr.png" style="width: 70%; display: block; margin-left: auto; margin-right: auto;">
        <h4>IQR ka use AI mein:</h4>
        <ul>
            <li><b>1. Outlier Detection:</b> IQR ka sabse common use outliers ko identify karna hota hai. Agar kisi data point ki value Q₁ se 1.5 times IQR kam ho ya Q₃ se 1.5 times IQR zyada ho, to usay outlier mana jata hai.
                <ul>
                    <li>Example: Agar IQR 10 hai, to outliers wo points hain jo Q₁ - 1.5 * 10 ya Q₃ + 1.5 * 10 ke bahar hon.</li>
                </ul>
            </li>
            <li><b>2. Data Preprocessing:</b> Outliers ko detect karke remove karna ya handle karna machine learning models ko better bana sakta hai. Agar outliers ko ignore kiya jaye to models overfitting ya underfitting ka shikar ho sakte hain.</li>
            <li><b>3. Feature Scaling:</b> Agar aap kisi machine learning model mein features ko scale kar rahe hain, to IQR ko use kar ke data ko normalize ya standardize kiya ja sakta hai.</li>
        </ul>
        <h4>Example AI Use Case:</h4>
        <ul>
            <li>Agar aap customer purchase data analyze kar rahe hain aur IQR se outliers find kar rahe hain, to aap un unusual purchases ko identify kar sakte hain jo kisi specific campaign ya promotional activity ki wajah se hue ho.</li>
        </ul>
        <h4>IQR ka Importance:</h4>
        <p>IQR se aap data ki spread aur distribution ko samajh sakte hain aur outliers ko identify kar ke model ki accuracy improve kar sakte hain.</p>
    </div>
</body>

In [ ]:
np.random.seed(42)
data = np.random.randint(40, 100, 50).tolist()
data.extend([10, 5, 150, 200])  # Outliers
df = pd.DataFrame({"Marks": data})
df

<img src="./images/iqr.png" style="width: 80%; display: block; margin-left: auto; margin-right: auto;">

In [ ]:
Q1 = df["Marks"].quantile(0.25)
Q1

In [ ]:
Q3 = df["Marks"].quantile(0.75)
Q3

In [ ]:
IQR = Q3 - Q1
IQR

In [ ]:
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print("Minimum Outlier",lower_bound)
print("Maximum Outlier",upper_bound)

In [ ]:
plt.figure(figsize=(8, 6))
sns.boxplot(x=df["Marks"])

plt.title('Boxplot of Marks with Outliers')
plt.show()